<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>782718014258-ug815mrfud8in3vqr8g0kqc971bal6e2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.782718014258-ug815mrfud8in3vqr8g0kqc971bal6e2</string>
	<key>API_KEY</key>
	<string>AIzaSyBg3hfZZCpB4cgDQCkStuVmwljjYR5UNio</string>
	<key>GCM_SENDER_ID</key>
	<string>782718014258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.sportsbuddies</string>
	<key>PROJECT_ID</key>
	<string>sportsbuddies-d617d</string>
	<key>STORAGE_BUCKET</key>
	<string>sportsbuddies-d617d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782718014258:ios:21d6ccf1895428049dfd2b</string>
</dict>
</plist>